/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 *
 */

/*# sourceMappingURL=custom.css.map */

/* 4.4 Layout */
.main-sidebar {
    background: linear-gradient(45deg, #353d47, #21292e);
    background-image: linear-gradient(45deg, rgb(53, 61, 71), rgb(33, 41, 46));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#353d47",endColorstr="#21292e",GradientType=1);
    overflow-x: hidden;
    -webkit-transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-sidebar .sidebar-menu li a {
    border: 1px solid transparent !important;
    /* border-radius: 4px 4px 0 0 !important; */
    color: #ffffff !important;
}

.main-sidebar .sidebar-menu li.active a {
    /* background-color: transparent !important;  */

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px; /* */
}

.main-sidebar .sidebar-menu li.active a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
     -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a {
    color: #76838f !important;
    height: 40px;
    padding: 5px 0 5px 35px;
    font-weight: 400;

    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important;

    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.main-sidebar .sidebar-menu li.active > a,
.main-sidebar .sidebar-menu li.active > a:hover,
.main-sidebar .sidebar-menu li.active > a:focus {
    background-color: #b71540 !important;
    color: #fff !important;

    cursor: default !important;

    /* -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important; */

    border-bottom-color: transparent !important;
}

.navbar-bg {
    background-color: #b71540 !important;
}
